<div class="page_container">
  <span class="search_banner">
    <h1 class='title_banner'>Seasonality Calander</h1>
    <p>search bar, filter, select 2, pg search by ingredient, category</p>
  </span>
  <div class="calander-table">
    <% @months.each do |month| %>
      <div class="month">
        <h1><%= month.name %></h1>
        <h4><%= month.season %></h4>
        <span class='ingredient_selection'>
          <% month.ingredients.each do |ingredient| %>
            <%# if ingredient.name.eql?('Apple') %>
            <div class="ingredient" data-colour="<%= ingredient.category.name %>">
              <%= ingredient.name %>
            </div>
            <%# end %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>

