<span class="search_banner show">
  <h1 class='show-month-name'><%= @month.name %> </h1>
</span>
<div class="container">
  <div class="month-show">
    <% @categories.each do |category| %>
      <div class="card">
        <h3><%= category.name %></h3>
        <span class="ingredient_selection">
          <% category.ingredients.each do |ingredient|  %>
            <% if ingredient.month_ids.any?(@month.id) %>
              <div class="ingredient ingredient-search" data-category="<%= category.name %>">
                <%= link_to ingredient.name, ingredient_path(ingredient), class: 'ingredient-show-link' %>
              </div>
            <% end %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
