<span class="search_banner show">
  <h1 class='show-month-name'><%= @ingredient.name %> </h1>
</span>
<div class="container">
  <div class="card">
    <%= @ingredient.name %>
    <%= @category.name %>
  </div>
</div>
