.title_banner {
  text-align: center;
  font-size: 60px;
  font-family: 'Poppins';
  a {
    color: white;
  }
}

.title_banner > a:hover {
  text-decoration: none;
  color: lightgrey;
}

.search_banner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(31,65,75,0.9);
  background-size: cover;
  background-position: center;
}
