.category-search {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px auto;
}
.category {
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.category:hover {
  transform: scale(1.2);
}

.search_banner > form {
  position: absolute;
  right: 20px;
  display: inline-flex;
  padding: 5px;
  .form-control {
    width: 220px;
  }
  .btn {
    background-color: white;
    margin-left: 5px;
    border-radius: 2px;
  }
}

.reset {
  background-color: white;
  position: absolute;
  left: 20px;
  padding: 5px;
  border-radius: 2px;
}

.reset:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.51, 0.01, 0.39, 0.98), 0.5s;
  background-color: red;
  color: white;
}
