.calander-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  padding: 20px;
  grid-gap: 10px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.month {
  border: 1px solid red;
  text-align: center;
  background-color: white;
  padding: 10px auto;
  h4 {
    opacity: 0.4;
  }
}

.ingredient {
  border-radius: 20px;
  padding: 5px;
  box-shadow: 1px 1px lightgrey;
  margin: 2px;
  color: white;
}

.ingredient_selection {
  border-top: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

[data-category="Vegetables"] {
  background-color: rgb(222, 129, 46);
}

[data-category="Fruits"] {
  background-color: rgb(224, 175, 88);
}

[data-category="Meat"] {
  background-color: rgb(193, 87, 79);
}

[data-category="Game"] {
  background-color: rgb(95,37,87);
}

[data-category="Foraged"] {
  background-color: rgb(74, 48, 50);
}

[data-category="Herbs"] {
  background-color: rgb(161, 203, 118);
}

[data-category="Fish & Shellfish"] {
  background-color: rgb(89, 185, 184);
}

@media (max-width: 992px) {
  .calander-table {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .calander-table {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .calander-table {
    grid-template-columns: 1fr;
  }
}
