.calander-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  padding: 20px;
  grid-gap: 10px;
  width: 100%;
}

.month {
  border: 1px solid red;
  text-align: center;
}

.ingredient {
  border-radius: 20px;
  padding: 5px;
  box-shadow: 1px 1px lightgrey;
  margin: 2px;
}

.ingredient_selection {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 992px) {
  .calander-table {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .calander-table {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .calander-table {
    grid-template-columns: 1fr;
  }
}
